/* Formattazione */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Comuni */
body {
    font-family: 'Catamaran', sans-serif;
}

a {
    text-decoration: none;
}

.float {
    float: left;
}

h2 {
    font-size: 45px;
}

/* Header */
.main-header {
    width: 100%;
    height: 80px;
    background-color: #3161e0;
}

.main-header > .container {
    margin: 0px 10%;
    height: 100%;
    line-height: 80px;
    background-color: transparent;
}

.main-header > .container::after {
    content: '';
    display: table;
    clear: both;
}

/* Header - logo */
.main-header > .container a {
    width: 20%;
}

.main-header > .container img[src*="logo"] {
    vertical-align: middle;
}

/* Header - nav */
.main-header > .container nav {
    text-align: center;
    width: 60%;
    margin:auto;
    height: 100%;
}

.main-header > .container nav li {
    display: inline-block;
    margin: 0 20px ;
}

.main-header > .container nav li a {
    color: white;
    font-weight: bold;
    /* font-size: 20px; */
}

/* Header - bottone accedi */
.main-header > .container .button-container {
    display: inline-block;
    width: 20%;
    background-color: transparent;
    height: 100%;
    margin: auto;
}

.main-header > .container .button-container a {
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
    color: #3161e0;
    /* font-size: 20px; */
    /* font-weight: bold; */
    text-transform: capitalize;
    padding: 5px 20px;
    margin: 0 25%;
}

/* Jumbo */
.jumbotron {
    /* height: 500px; */
    width: 100%;
    padding: 10% 25%;
    position: relative;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.jumbotron h2,
.jumbotron p {
    color: white;
    font-size: bold;
}

.jumbotron p {
    font-size: 20px;
}

.jumbotron .button {
    display: inline-block;
    margin: 20px 5px;
}

.jumbotron .button.a  a {
    color: black;
    background-color: white;
    padding: 10px 25px;
    border-radius: 40px;

}

.jumbotron .button.b  a {
    color: white;
    background-color: black;
    padding: 10px 25px;
    border-radius: 40px;
    display: inline-block;
}

/* Main */
main .container.a {
    padding: 80px 10%;
    height: 500px;
}

main .container.a::after {
    content: '';
    display: table;
    clear: both
}

main .container.a section.a .text {
    padding-top: 30px;
    width: 30%;
    display: inline-block;
    margin-left: 50px;
}

main .container.a section.a .text h2 {
    line-height: 1;
    margin-bottom: 20px;
}

main .container.a section.a .text p {
    font-size: 20px;
}

main ~ .svgcontent {
    background-image: url(../img/not-black-wave.svg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #2c2f33;
    height: 610px;
}

.footertop {
    height: 500px;
    width: 80%;
    margin: 0px 10%;
}

.footertop::after {
    content: '';
    display: table;
    clear: both;
}

/* .footertop section {
    display: inline-block;
} */

.footertop section.big {
    width: 30%;
    height: 100%;
}

.footertop section.small {
    width: calc(70% / 4);
    height: 100%;
}

.footerbtm {
    border-top: 2px solid #7289da;
    position: relative;
    height: 110px;
    width: 80%;
    margin: 0px 10%;
}

.footerbtm .logo-container-bottom {
    line-height: 110px;
}

.footerbtm .logo-container-bottom .img[src*="logo"] {
    vertical-align: middle;
}


.footerbtm .button-container-bottom a {
    border-radius: 40px;
    background-color: #7289da;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    position: absolute;
    right: 0px;
    top: 30px;
}

/* debug */
.debug .footertop {
    background-color: coral;
}

.debug .footertop section.big {
    background-color: violet;
}

.debug .footertop section.small {
    background-color: teal;
    border: 2px dashed #000;
}