/* Formattazione */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Comuni */

/* Header */
.main-header {
    width: 100%;
    height: 80px;
    background-color: #3161e0;
}

.main-header > .container {
    margin: 0px 10%;
    height: 100%;
    line-height: 80px;
    background-color: transparent;
}

.main-header > .container::after {
    content: '';
    display: table;
    clear: both;
}

/* Header - logo */
.main-header > .container a {
    width: 20%;
}

.main-header > .container img[src*="logo"] {
    vertical-align: middle;
}

.main-header > .container .float {
    float: left;
}

/* Header - nav */
.main-header > .container nav{
    text-align: center;
    width: 60%;
    margin:auto;
    height: 100%;
}

.main-header > .container nav li{
    display: inline-block;
    margin: 0 10px ;
}

.main-header > .container nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Header - bottone accedi */
.main-header > .container .button-container {
    display: inline-block;
    width: 20%;
    background-color: transparent;
    height: 100%;
    margin: auto;
}

.main-header > .container .button-container a {
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    color: #3161e0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 0 25%;
}

/* debug */
